@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

h1,
h2,
h3 {
  font-family: "DM Serif Display";
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Karla";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
}

.rightside,
.leftside {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.leftside img {
  width: 110px;
}

.navitem {
  list-style-type: none;
  font-family: "Karla";
  font-size: 16px;
  font-weight: 600;
}

.navitem a:visited {
  color: #827d87;
}

.navitem a:link {
  text-decoration: none;
  color: #827d87;
  transition: 0.3s ease-in-out;
}

.navitem a:hover {
  color: black;
}

.view {
  font-family: "Karla";
  font-size: medium;
  border: none;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 38px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.view:hover {
  color: white;
  background-color: #2b282f;
}

.titlesection {
  background-color: #2c2640;
  color: white;
  width: 90.8%;
  height: 600px;
  padding-left: 140px;
  display: flex;
  display: flex;
  align-items: center;
}

.dividerline {
  width: 140px;
  height: 0px;
  margin-left: 2px;
  margin-bottom: 55px;
}

.titlesection h1 {
  font-size: 67px;
  font-weight: 550;
  width: 500px;
  line-height: 70px;
}

.titlesection p {
  letter-spacing: 0.2px;
  line-height: 25px;
  font-weight: 300;
  width: 510px;
  margin-top: -20px;
  margin-bottom: 35px;
}

.titlesection button {
  color: white;
  background-color: transparent;
  font-family: "Karla";
  font-size: 14px;
  font-weight: 700;
  border: white solid 1px;
  margin-right: 37px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.titlesection button:hover {
  color: black;
  background-color: white;
}

.imagesection {
  height: 500px;
}

.imagesection img {
  width: 83%;
  margin-left: 100px;
  margin-top: 50px;
}

.backgroundright {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.backgroundleft {
  width: 100%;
  height: 100%;
  top: 300px;
  position: absolute;
  background-image: url(bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
}

.differences {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-left: 100px;
}

.differencedivider {
  width: 140px;
  height: 0px;
  color: #b0a4b2;
  align-self: flex-start;
  margin-left: 190px;
  margin-top: 12px;
}

.section2 h1 {
  font-size: 60px;
  font-weight: 550;
  color: #28262b;
  letter-spacing: 0.7px;
  margin-bottom: 70px;
  align-self: flex-start;
  margin-left: 190px;
}

.section2 h2 {
  margin-bottom: -2px;
}

.section2 img {
  height: 80px;
  width: 80px;
  margin-bottom: 12px;
}

.card1 {
  display: flex;
  flex-direction: column;
}

.card1 p {
  width: 90%;
  color: #827d87;
  font-weight: 400;
  line-height: 23px;
}

.card2 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.card2 p {
  width: 80%;
  color: #827d87;
  font-weight: 400;
  line-height: 23px;
}

.card3 {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.card3 p {
  width: 85%;
  color: #827d87;
  font-weight: 400;
  line-height: 23px;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}

.findoutmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  width: 70%;
  background-color: #2c2640;
  background-image: url(bg-pattern-how-we-work-desktop.svg);
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  margin-top: -125px;
}

.findoutmore h1 {
  font-weight: 500;
  font-size: 45px;
  width: 400px;
  padding-left: 20px;
}

.findoutmore button {
  background-color: transparent;
  border: white solid 1px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 37px;
  color: white;
  font-family: "Karla";
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.findoutmore button:hover {
  background-color: white;
  color: black;
}

.footer {
  background-color: hsl(0, 0%, 98%);
  background-image: url(bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-left: 150px;
  padding-right: 100px;
  height: 320px;
}

.footertop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 35px;
}

.footerlogo {
  width: 100px;
  height: 18px;
}

.footerdivider {
  width: 100%;
  height: 0px;
  color: white;
  margin-top: -2px;
  margin-bottom: 35px;
}

.footeritem {
  list-style-type: none;
  font-family: "Karla";
  font-size: 15px;
  font-weight: 600;
}

.footeritem a:visited {
  color: #2d2641;
}

.footeritem a:link {
  text-decoration: none;
  color: #2d2641;
}

.footeritem a:hover {
  color: black;
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 14px;
}

.socials img {
  cursor: pointer;
}

.socials img:hover {
  filter: brightness(0) invert(0);
  transition: 0.3s ease-in-out;
}

.links {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 90px;
}

.company {
  width: 80%;
  margin-right: 20px;
}

.company p {
  color: #827d87;
  font-weight: 600;
  margin-bottom: 32px;
}

.company a {
  margin-left: -39px;
}

.help {
  width: 80%;
  margin-right: -20px;
}

.help a {
  margin-left: -39px;
}

.help p {
  color: #827d87;
  font-weight: 600;
  margin-bottom: 32px;
}

.contact {
  width: 80%;
  margin-right: -20px;
}

.contact a {
  margin-left: -39px;
}

.contact p {
  color: #827d87;
  font-weight: 600;
  margin-bottom: 32px;
}

.other {
  width: 80%;
}

.other a {
  margin-left: -39px;
}

.other p {
  color: #827d87;
  font-weight: 600;
  margin-bottom: 32px;
}

.credits {
  font-family: "Nunito Sans";
  font-size: 13px;
  margin-top: 47px;
  color: black;
}

.credits a:link {
  color: black;
}

.credits a:visited {
  color: black;
}

@media screen and (max-width: 1320px) {
  .differencedivider {
    margin-left: 140px;
  }

  .section2 h1 {
    margin-left: 140px;
  }

  .links {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .differences {
    width: 90%;
  }

  .findoutmore h1 {
    font-size: 35px;
    width: 60%;
  }

  .links {
    justify-content: center;
    width: 90%;
    margin-left: -130px;
  }

  .help {
    padding-left: 40px;
    width: 90%;
  }

  .contact {
    padding-left: 40px;
    width: 90%;
  }

  .other {
    padding-left: 40px;
    width: 90%;
  }
}
